<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{% endblock %}</title>
</head>
<body>
    <nav>
        <div class="taskbar">
            <div class="brand">
                <a href="{{url_for('main')}}">(Mock) Digital games retailer</a>
            </div>
            <div class="links">
                <a href="{{url_for('task_F1')}}">Task F1</a>
                <a href="{{url_for('task_F2')}}">Task F2</a>
                <a href="{{url_for('task_F3')}}">Task F3</a>
                <a href="{{url_for('task_F4')}}">Task F4</a>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>