{% extends 'base.html' %}

{% block title %}Task F1{% endblock %}

{% block content %}
    <h1 style = "text-align: center;">Task F1</h1>
    <h1 style = "text-align: center;">Table: {{table_name.capitalize().replace("_", " ")}}</h1>
    <div style="display: flex; justify-content: center;">
        <form method="POST" action="{{ url_for('task_F1') }}">
            <select name="table_name">
                {% for name in all_table_names %}
                <option value="{{ name }}" {% if name == table_name %} selected {% endif %}>{{ name.capitalize().replace("_", " ") }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Select">
        </form>
    </div>
    <table style="border-collapse: collapse; margin: auto;">
        {%if table%}
            <tr>
                {%for key in table[0].keys()%}
                <th style="padding: 10px; border: 1px solid black;">{{key.capitalize().replace("_", " ")}}</th>
                {%endfor%}
            </tr>
            {%for row in table%}
                <tr>
                    {%for key, value in row.items()%}
                    <td style="padding: 10px; border: 1px solid black;">{{value}}</td>
                    {%endfor%}
                    <td>
                        <form method="POST" action="{{ url_for('delete_row', table_name=table_name, table_id=table_id, row_id=row[table_id])}} ">
                            <input type="submit" value="Remove">
                        </form>
                    </td>
                </tr>
            {%endfor%}
        {%endif%}
    </table>
{% endblock %}